fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
pdfplumber
python-docx
faiss-cpu
sentence-transformers
langchain
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain-huggingface
pandas
numpy
sympy
mpmath
